<div class="containter experience-history-container">
    <div class="row">
        <div class="col-6 experience-history-title">
            <p>@ExpHistoryItem.Title</p>
        </div>
        <div class="col-6 experience-history-milestone">
            <p>@ExpHistoryItem.Milestone</p>
        </div>
        <div class="col-12 experience-history-company">
            <p>@ExpHistoryItem.Company</p>
        </div>
        <div class="col-8">
            <p>@ExpHistoryItem.Description</p>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public required ExpHistoryProps ExpHistoryItem { get; set; }
}