p{
  margin: 0;
}

.experience-history-title {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
}

.experience-history-milestone {
  text-align: end;
  color: #bd5d38;
}

.experience-history-company {
  margin-bottom: 20px;
  text-transform: uppercase;
  color: gray;
}
