@page "/experience"
@using buoi_21_bai_tap.Components.Pages.Experience.ExperienceHistory

<PageTitle>Experience</PageTitle>

<div class="experience-container d-flex align-items-center">
    <div class="containter flex-grow-1">
        <div class="row align-self-center">
            <div class="col-12">
                <h1 class="experience-title">Experience</h1>
            </div>
            <div class="col-12">
                <ExperienceHistory Title="Senior Web Developer" Milestone="March 2013 - Present" Company="Intelitec Solutions"
                    Description="Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple touchpoints for offshoring." />
            </div>
        </div>
    </div>
</div>