.experience-history-container[b-021s49cbqh] {
  .experience-history-title {
    text-transform: uppercase;
  }

  .experience-history-milestone[b-021s49cbqh] {
    text-align: end;
  }

  .experience-history-company[b-021s49cbqh] {
    text-transform: uppercase;
  }
}
