.exp-container[b-v19nlufh82] {
  height: 100%;
}

.exp-title[b-v19nlufh82] {
  font-size: 60px;
  font-weight: bold;
  text-transform: uppercase;
}

.exp-history-item[b-v19nlufh82]{
  margin-bottom: 40px;
}