<div class="custom-nav d-flex align-items-center">
    <div class="container">
        <div class="row nav-image-container">
            <div class="col">
                <img src="https://picsum.photos/200/200" class="nav-image rounded-circle">
            </div>
        </div>
        <div class="row ">
            <div class="col nav-link-container">
                @foreach (NavProps navItem in navItems)
                {
                    <NavLink class="nav-link text-center text-light" href=@navItem.Url Match="NavLinkMatch.All">
                        @navItem.Title
                    </NavLink>
                }
            </div>
        </div>
    </div>
</div>

@code {
    NavProps[] navItems = {
new NavProps { Title = "ABOUT", Url = "#" },
new NavProps { Title = "EXPERIENCE", Url = "experience" },
new NavProps { Title = "EDUCATION", Url = "education" },
new NavProps { Title = "SKILL", Url = "skill" },
new NavProps { Title = "INTERESTS", Url = "interest" },
new NavProps { Title = "AWARDS", Url = "award" }
};
}