/* _content/buoi_21_bai_tap/Components/Layout/CustomLayout/MyLayout.razor.rz.scp.css */
.page[b-j7umqdls1z] {
  position: relative;
  display: flex;
  flex-direction: column;
}

main[b-j7umqdls1z] {
  flex: 1;
}

.sidebar[b-j7umqdls1z] {
  background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.content[b-j7umqdls1z] {
  height: 100%;
  padding: 0 50px;
}

h1[b-j7umqdls1z],
p[b-j7umqdls1z],
span[b-j7umqdls1z],
a[b-j7umqdls1z] {
  margin: 0;
  font-family: "Saira Extra Condensed", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@media (min-width: 641px) {
  .page[b-j7umqdls1z] {
    flex-direction: row;
  }

  .sidebar[b-j7umqdls1z] {
    width: 250px;
    height: 100vh;
    position: sticky;
    top: 0;
  }
}

#blazor-error-ui[b-j7umqdls1z] {
  background: lightyellow;
  bottom: 0;
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
  display: none;
  left: 0;
  padding: 0.6rem 1.25rem 0.7rem 1.25rem;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

#blazor-error-ui .dismiss[b-j7umqdls1z] {
  cursor: pointer;
  position: absolute;
  right: 0.75rem;
  top: 0.5rem;
}
/* _content/buoi_21_bai_tap/Components/Layout/CustomNav/CustomNav.razor.rz.scp.css */
.custom-nav[b-1qmzs28vig] {
  .nav-image-container {
    .nav-image {
      border: 12px solid #415478;
    }
  }

  .nav-link-container[b-1qmzs28vig] {
    margin-top: 12px;

    .nav-link{
      font-weight: bold;
    }
  }
}
/* _content/buoi_21_bai_tap/Components/Pages/About/About.razor.rz.scp.css */
p[b-uoliolnyqt]{
  margin: 0;
}

.about-container[b-uoliolnyqt] {
  height: 100%;
}

.user-name[b-uoliolnyqt] {
  font-size: 80px;
  font-weight: bold;
  text-transform: uppercase;
}

.user-name .user-last-name[b-uoliolnyqt] {
  color: #052767;
}

.user-address[b-uoliolnyqt] {
  text-transform: uppercase;
}

.user-address .user-email[b-uoliolnyqt] {
  color: #052767;
}

.user-about-container[b-uoliolnyqt]{
  margin-bottom: 50px;
}

.user-about-container .user-about[b-uoliolnyqt] {
  color: gray;
  font-size: 1.15rem;
  font-weight: 400;
  padding-top: 20px;
}

.brand-logo[b-uoliolnyqt] {
  margin-right: 6px;
  padding: 30px 20px 20px 20px;
  background-color: #052767;
  border-radius: 50%;
}

.brand-logo .brand-logo-icon[b-uoliolnyqt] {
  font-size: 30px;
  color: white;
}
/* _content/buoi_21_bai_tap/Components/Pages/Experience/Experience.razor.rz.scp.css */
.exp-container[b-v19nlufh82] {
  height: 100%;
}

.exp-title[b-v19nlufh82] {
  font-size: 60px;
  font-weight: bold;
  text-transform: uppercase;
}

.exp-history-item[b-v19nlufh82]{
  margin-bottom: 40px;
}
/* _content/buoi_21_bai_tap/Components/Pages/Experience/ExpHistory/ExpHistory.razor.rz.scp.css */
p[b-ayuae8vj5g]{
  margin: 0;
}

.experience-history-title[b-ayuae8vj5g] {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
}

.experience-history-milestone[b-ayuae8vj5g] {
  text-align: end;
  color: #bd5d38;
}

.experience-history-company[b-ayuae8vj5g] {
  margin-bottom: 20px;
  text-transform: uppercase;
  color: gray;
}
/* _content/buoi_21_bai_tap/Components/Pages/Skill/Skill.razor.rz.scp.css */
.skill-container[b-ogrjyus69x] {
	height: 100%;
}

.skill-title[b-ogrjyus69x] {
	font-size: 60px;
	font-weight: bold;
	text-transform: uppercase;
}

.skill-icon-item[b-ogrjyus69x] {
	margin-right: 20px;
}

.brand-logo-icon[b-ogrjyus69x] {
	font-size: 50px;
	color: gray;
}

.text-upercase[b-ogrjyus69x] {
	text-transform: uppercase;
}

.workflow-list[b-ogrjyus69x] {
	list-style: none;
}

.workflow-list li[b-ogrjyus69x]{
	color: gray;
}
