p{
  margin: 0;
}

.about-container {
  height: 100%;
}

.user-name {
  font-size: 80px;
  font-weight: bold;
  text-transform: uppercase;
}

.user-name .user-last-name {
  color: #052767;
}

.user-address {
  text-transform: uppercase;
}

.user-address .user-email {
  color: #052767;
}

.user-about-container{
  margin-bottom: 50px;
}

.user-about-container .user-about {
  color: gray;
  font-size: 1.15rem;
  font-weight: 400;
  padding-top: 20px;
}

.brand-logo {
  margin-right: 6px;
  padding: 30px 20px 20px 20px;
  background-color: #052767;
  border-radius: 50%;
}

.brand-logo .brand-logo-icon {
  font-size: 30px;
  color: white;
}
