.skill-container[b-ogrjyus69x] {
	height: 100%;
}

.skill-title[b-ogrjyus69x] {
	font-size: 60px;
	font-weight: bold;
	text-transform: uppercase;
}

.skill-icon-item[b-ogrjyus69x] {
	margin-right: 20px;
}

.brand-logo-icon[b-ogrjyus69x] {
	font-size: 50px;
	color: gray;
}

.text-upercase[b-ogrjyus69x] {
	text-transform: uppercase;
}

.workflow-list[b-ogrjyus69x] {
	list-style: none;
}

.workflow-list li[b-ogrjyus69x]{
	color: gray;
}